html {
    background-color: rgb(80, 133, 188); 
    color: white; 
    font-family: Verdana, Tahoma, sans-serif;}

#header {
    font-size: 40px;
     text-align: center;
    margin: 10px 50px 20px; 
    background-color: rgba(40, 62, 102, 0.7); 
    padding: 20px; 
    border-radius: 50px;}

#tuna-picture {
    width: auto; 
    height: 200px;
    border-left-width: 2px;}

#teriyaki-picture 
    {width: auto;
     height: 150px;}

#salmon-picture 
{width: auto; 
    height: 150px;}

.tunadish, .chickendish, .salmondish {
    background-color: rgba(40, 62, 102, 0.7);
    margin: 5px 5px;
     text-align: left; 
    border-radius: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: block;
    outline: 1px solid grey;}