html {
    color: black; 
    font-family: Verdana, Tahoma, sans-serif;}

    body {
        margin: 0;
    }

header {
    font-size: 40px;
     text-align: center; 
    background-color: #BECEAA; 
    padding: 20px; 
    color: black;
    font-weight: 600;}

    #linklogo {
        text-decoration: none;
        color: white;
    }
    
    #logo {
        width: 55px;
        height: auto;
    }

#tuna-picture {
    width: auto; 
    height: 300px;
    border-left-width: 2px;}

#teriyaki-picture 
    {width: auto;
     height: 200px;}

#salmon-picture 
{width: auto; 
    height: 200px;}

.tunadish, .chickendish, .salmondish {
    margin: 40px 0 40px 0;
    background-color: antiquewhite;
     text-align: left; 
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 1%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }

    #linkone, #linktwo, #linkthree {
        text-decoration: none;
    }

#box1, #box2, #box3 {margin-left: 20px;}